html, body{
  margin: 0;
  display: block;
}

body{
  font-family:'Muli', sans-serif;
  color:#333;
}

a{
  color:#ff3300;

}

h1, h2, h3, h4{
  text-transform: uppercase;
  letter-spacing:2px;
  color:#153bb4;
  font-family: 'Spinnaker', sans-serif;
}

.stamp-heads{
  width:400px;
  height:200px;
  background: url(/img/header-stamp.png) center center no-repeat;
  background-size: 340px;
  margin: 0 auto 25px;
  position: relative;
}

.main-wrap{
  padding: 25px;
  background: #fff;
  max-width: 750px;
  margin: 0 auto;
  clear:both;
  overflow:hidden;
}

.image-break{
  height: 500px;
  background-size: cover;
  background-attachment: fixed;
  border-right:30px solid #fff;
  border-left:30px solid #fff;
}

.main-header{
  text-align:center;
  position:relative;
  padding: 50px 0 100px;
  letter-spacing: 2px;
}

.main-header .rsvp-cta{
  margin-top:20px;
}

.button{
  background: #ff3300;
  display:inline-block;
  color:#fff;
  min-width: 150px;
  padding: 12px 20px;
  text-decoration: none;
  font-size:1.2em;
  margin-top:15px;
  text-transform: uppercase;
}

.mini-button{
  text-decoration: none;
  text-transform: uppercase;
}

.main-header .amp{
  display:inline-block;
  margin:0 25px;
  position:relative;
  top:-3px;
  font-size:1em;
}

.main-header p{
  text-align:center;
  font-family: 'Spinnaker', sans-serif;
  color:#153bb4;
  text-transform: uppercase;
  margin:10px 0;
  font-size:1.3em;
  letter-spacing: 2px;
}

.stats{
  overflow:hidden;
  margin: 50px auto 0;
  color:#153bb4;
  max-width: 600px;
  letter-spacing: 2px;
  font-family: 'Spinnaker', sans-serif;
}

.stats .stat-item{
  display:inline-block;
  text-align: center;
  padding: 20px 0;
  text-transform: uppercase;
  position:relative;
}

.stats .stat-item span{
  display: block;
}

.stat-item .label{
  font-size:1em;
  margin-bottom:8px;
}

.stat-item .info{
  font-size: 1.25em;
}

.stats .stat-item:first-child{
  float:left;
}

.stat-item:first-child:after{
  content:'';
  background:url(/img/noodle-blue-sm.png) left top no-repeat;
  position:absolute;
  right: -71px;
  top: 50%;
  width: 41px;
  height:13px;
}

.stats .stat-item:last-child{
  float:right;
}

.stat-item:last-child:after{
  content:'';
  background:url(/img/noodle-blue-sm.png) left top no-repeat;
  position:absolute;
  left: -71px;
  top: 50%;
  width: 41px;
  transform:scaleX(-1);
  height:13px;
}

.hidden{
  display:none;
}


.main-nav-wrap{
  text-transform: uppercase;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  border-top:1px solid #eee;
  clear:both;

}


.main-nav{
  background:#fff;
  text-align:center;
}

.main-nav .active{
  color:#ff3300;
}

.main-nav.fixed{
  background:#fff;
  position: fixed;
  top: 0;
  left:0;
  right:0;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  bottom: auto;
}

#section-rsvp{
  background:#153bb4;
  color:#fff;
  border: 30px solid #fff;
  border-top:0;
  border-bottom:0;
}

#section-rsvp h2{
  color:#fff;
  margin-top:0;
  padding-top:30px;
  margin-bottom:40px;
}

.main-nav a{
  color: #000;
  text-decoration: none;
  padding: 10px;
  display:inline-block;
  font-size:1.2em;
}

.content-section h2{
  text-align:center;
}

.content-section p{
  margin: 20px auto;
  max-width: 725px;
  line-height:24px;
  font-family:'Muli', sans-serif;
}

.slider{
  margin: 0 100px;
}

.slider .slider-nav{
  text-align: center;
  margin: 40px 0;
  border-bottom:1px solid #eee;
}

.slider-nav a{
  color:#000;
  text-transform: uppercase;
  display:inline-block;
  padding:8px 10px;
  margin:0 10px;
  text-decoration: none;
}

.slider-nav .active{
  color:#ff3300;
}

.slider .content{
  display: none;
  line-height:24px;
}

.sticky-nav{
  position:fixed;
  top: 50%;
  left:100px;
  transform: translate(0, -50%);
}

.sticky-nav a{
  display:block;
  position:relative;
  padding:10px 0;
  width:200px;
  text-decoration: none;
  text-indent:30px;
  letter-spacing: 2px;
  transition: all .2s ease-in-out;
  text-transform: uppercase;
  font-family: 'Spinnaker', sans-serif;
}

.sticky-nav a:hover{
  text-indent:25px;
}

.sticky-nav a:after{
  content:'';
  position:absolute;
  left:0;
  top:50%;
  transform: translate(0, -50%);
  border:1px solid #999;
  border-radius:100px;
  width:10px;
  height: 10px;
}

.main-footer{
  margin-bottom:40px;
}

.rsvp-form{
  text-align: center;
  background:none;
}

.rsvp-form .step{
  margin: 30px auto;
}

.rsvp-form input{
  border: 0;
  border-bottom:1px solid #ddd;
  padding:6px 6px;
  font-size: 1.25em;
  background: none;
  color:#fff;
}

.faq-list{
  max-width: 750px;
  margin: 50px auto;
}

.faq-list li{
  list-style-type: none;
  border-bottom: 1px solid #eee;
  padding: 20px 0;
}

.faq-list li:last-child{
  border-bottom: 0;
}

.faq-list.collapsed li:nth-child(3){
  border-bottom: 0;
}

.faq-list .question{
  display:block;
  color:#153bb4;
  margin-bottom: 8px;
}

.faq-button-wrap{
  text-align:center;
  margin-bottom:30px;
}

.stamp{
  width:150px;
  height:150px;
  background:#999;
  margin: 30px;
  margin-top:0;
  position:relative;
  z-index:1;
}

.stamp:after{
  content:'stamp placeholder';
  position:absolute;
  left:50%;
  top:50%;
  color:#fff;
  transform:translate(-50%, -50%);
  text-align:center;
  z-index:1;
}

.stamp.right{
  float:right;
}

.stamp.left{
  float:left;
}

@media (max-width: 650px) {
  .stats .stat-item,
  .stats .stat-item:first-child,
  .stats .stat-item:last-child{
    float:none;
    display:block;
    width:100%;
  }
}

@media (max-width: 450px) {

   body { font-size: 2em; }

}
